@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');

/* reset */
*{ margin:0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
a{color: inherit; text-decoration: none;}
li{list-style: none;}
address, em, i {font-style:none;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;}
a:hover{text-decoration: none; color:inherit}
/*layout*/
body{width: 100%;height: 800px;font-family: 'Black Han Sans', sans-serif;}
.wrap{width:100%; height:100%;overflow: scroll;}

/*header*/
header{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 100;
    background: #191a1a;
    top:0;
}
.innerHeader{
    font-family: 'Black Han Sans', sans-serif;
    padding:0 60px;
    position: relative;
}
.innerHeader .logo{
    width: 200px;
    height: 60px;
    line-height: 60px;
    float:left;
}
.innerHeader .logo a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.innerHeader .logo a span{
    width: 70%;
    height: 100%;
    font-size: 20px;
    position: absolute;
    top: 0;
    left:0;
    color: #eeeeee;
}
.innerHeader > span{
    position: absolute;
    display: block;
    left: 50%;
    width: 500px;
    transform:translateX(-50%);
    font-size:20px;
    color: #eeeeee;
    line-height: 60px;
    height: 60px;
    text-align:center;
}
.innerHeader .user{
    color: #eee;
    position:absolute;
    display: block;
    left : 85%;
    height: 60px;
    line-height: 60px;
}
.innerHeader .user a{
    margin-left: 5px;
    text-decoration: none;
    color: #eee;
}


/*contents*/
section{
    font-family: 'Jua', sans-serif;
    position: relative;
    top:150px;
}
section .row{
    overflow: scroll;
}
section .row ul{
    margin:0;
}
section .row .col{
    display: inline-block;
    margin:10px 70px;

}
section .container > .row{
    color:white;
}
section .container > .row p{
    color: black;
}
section .container li{
    display: inline-block;
}
.boardContent{
    margin: 10px 0;
}
.boardContent > a{
    display: inline-block;
}
section .pagination{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top:10px;
}
section .pagination li{
    color:white;
}
section .pagination ul li{
    display: inline-block;
}
section .pagination .col.prev a{
    color: black;
}
section .pagination .col.next a{
    color: black;
}
section .pagination .col a{
    text-decoration: none;
    color: white;
}
section .pagination .col.page.active{
    background: #e2e2e2;
}
section .pagination .col.page.active a{
    color: #291900;
}
section .write{
    position:relative;
    left:90%;
}


.container .content{
    align-items: center;
}
.container p{
    display: inline-block;
}