<!doctype html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>게시판 홈</title>
</head>
<body>
<div class="wrap">
<!--    header-->
    <header>
        <div class="innerHeader">
            <h1 class="logo">
                <a href="/board">
                    <span>B</span>
                </a>
            </h1>
            <span>게시판</span>
            <!--로그인 사용자 및 로그아웃-->
            <div class="user">
                <span th:text="${loginUser?.id}">로그인 유저</span>
                <a th:if="!${loginUser}" href="/board/login">로그인</a>
                <a href="#" th:unless="!${loginUser}" onclick="logout()">로그아웃</a>
            </div>
        </div>
    </header>
    <!--section-->
    <section>
        <div class="container text-center border border-4 border-dark rounded">
            <div class="row border-bottom border-4 border-dark bg-dark">
                <ul>
                    <li class="col"><span>번호</span></li>
                    <li class="col"><span>제목</span></li>
                    <li class="col"><span>작성자</span></li>
                    <li class="col"><span>조회수</span></li>
                    <li class="col"><span>작성시간</span></li>
                </ul>
            </div>
            <div class="row">
                <div th:each="boardContent : ${boardList}" class="boardContent">
                    <p class="col" th:field="${boardContent.id}" th:text="${boardContent.id}">번호</p>
                    <a class="col" th:href="|/board/view/${boardContent.id}|" th:field="${boardContent.title}" th:text="${boardContent.title}">제목</a>
                    <p class="col" th:field="${boardContent.userId}" th:text="${boardContent.userId}">작성자</p>
                    <p class="col" th:field="${boardContent.viewCnt}" th:text="${boardContent.viewCnt}">조회수</p>
                    <p class="col" th:field="${boardContent.postTime}" th:text="${boardContent.postTime}">작성시간</p>
                </div>
            </div>
        </div>
        <div class="row-cols-sm-3 text-center">
            <ul class="pagination border border-secondary rounded">
                <li class="col prev bg-light" th:if="${pagination.prev}"><a onclick="prev()">이전</a></li>
                <li class="col page bg-dark" th:each="num : ${#numbers.sequence(pagination.rangeStart,pagination.rangeEnd)}"><a th:href="|/board?page=${num}|" th:text="${num}"></a></li>
                <li class="col next bg-light" th:if="${pagination.next}"><a onclick="next()">다음</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col">
                <input class="rounded" type="text" autocomplete="false">
                <button class="btn btn-sm btn-dark">찾기</button>
            </div>
            <div th:if="${loginUser}" class="col-sm">
                <a class="write btn btn-dark" href="/board/write">글쓰기</a>
            </div>
        </div>
    </section>
</div>
<script th:inline="javascript">
    let pageList = document.querySelectorAll('section .pagination .col.page');
    let page = [[${pagination.page}]];
    console.log(pageList);
    for (let i in pageList) {
        console.log(i);
        if(pageList[i].innerText == page){
            pageList[i].classList.add("active");
            pageList[i].classList.remove("bg-dark");
        }
        else {
            pageList[i].classList.remove("active");
        }
    }
    function prev(){
        let url = "/board?page=";
        url = url + [[${pagination.rangeStart - pagination.rangeSize}]];
        location.href=url;
    }
    function next(){
        let url = "/board?page=";
        url = url + [[${pagination.rangeStart + pagination.rangeSize}]];
        location.href=url;
    }

    function logout(){
        let form = document.createElement("form");
        form.setAttribute("method","post");
        form.setAttribute("action","/board/logout");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>