<!doctype html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/write.css">
    <title>보기</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="col" style="font-size: 2em"> 보기</h2>
        </div>
        <div>
            <form method="get" th:object="${viewForm}">
                <div class="row">
                    <div class="col-1">
                        <label for="id">번호</label>
                        <input type="text" id="id" th:field="*{id}" class="form-control" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="title">제목</label>
                        <input type="text" id="title" th:field="*{title}" class="form-control" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label th:text="|작성자 *{name}|">UserId</label>
                        <input type="text" th:field="*{name}" style="display: none">
                    </div>
                </div>
                <div class="row">
                    <label for="content">내용</label>
                    <div class="col-6">
                        <textarea class="form-control" th:field="*{content}" rows="20" name="content" id="content" readonly></textarea>
                    </div>
                </div>
                <div class="row">
                    <a th:onclick="|location.href='@{/board/update/{id}(id=*{id})}'|" th:if="${viewForm.name.equals(loginUser?.id)}" class="btn btn-dark col-2">수정</a>
                    <a th:onclick=deletePosting() th:if="${viewForm.name.equals(loginUser?.id)}" class="btn btn-dark col-2">삭제</a>
                    <a class="btn btn-dark col-2" href="/board/">뒤로</a>
                </div>
            </form>
<!--            댓글-->
            <div class="container">
                <h1 class="text-decoration-underline" style="font-size: 2em;">댓글</h1>
                <div th:each="com : ${commentList}">
                    <input type="text" th:value="${com.id}" hidden>
                    <div class="row">
                        <label th:if="${com.userId != null}" class="col d-inline-block" th:text="${com.userId}">작성자</label>
                        <label th:unless="${com.userId != null}" class="col d-inline-block" th:text="비회원">작성자</label>
                    </div>
                    <div class="row">
                        <input type="text" class="col-7" th:value="${com.content}" readonly>
                    </div>
                </div>
                <form th:object="${comment}" th:action="|/board/comment/${viewForm.id}|" method="post">
                    <div class="row">
                        <textarea class="col-7" th:field="*{content}"></textarea>
                        <button class="col-sm-1 btn btn-dark" type="submit">작성</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function deletePosting() {
            if(confirm("정말 삭제 하시겠습니까?")) {
                let id = [[${viewForm.id}]];
                let form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "/board/delete/" + id);
                document.body.appendChild(form);
                form.submit();
                alert("삭제 되었습니다.");
            }
        }
    </script>
</body>
</html>